<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;300&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Friends Form</title>
</head>
<body>

<div class="container">
  <h1>Friends Form</h1>
  {{ friendModel | json }}

    <form  #formName="ngForm" id="input-container">

<!--First Name-->
      <label>First name</label>
    <div id="input-fn">
      <input
            name="firstName"
            #firstName="ngModel"
            id="firstName"
            type="text"
            placeholder="First name"
            [(ngModel)]="friendModel.firstName">
    </div>


<!--      Last Name-->
      <label>Last name</label>
    <div id="input-ln">
      <input
            name="lastName"
            #secondName="ngModel"
            id="last-name"
             type="text"
             placeholder="Last name"
            [(ngModel)]="friendModel.secondName">
    </div>

<!--      Email-->
      <label>Email</label>
    <div id="input-email">
      <input
             name="email"
             #email="ngModel"
             id="email"
             type="email"
             placeholder="Email"
             [(ngModel)]="friendModel.email">
    </div>


<!--      Phone number-->
      <label>Phone number</label>
    <div id="input-phone">
      <input
            name="phone"
            #phone="ngModel"
             type="email"
             placeholder="Phone number"
            [(ngModel)]="friendModel.phone">
    </div>

<!--    Language  -->
      <label>Language</label>

<!--  Looping through an array-->
  <select name="language"
          #language="ngModel" id="lg" [(ngModel)]="friendModel.language">
    <option *ngFor="let language of languages">
      {{language}}
    </option >

  </select>
  <button id="btn-submit" type="submit">Submit</button>
    </form>
</div>
</body>
</html>
