<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;300&display=swap" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Friends Form</title>
</head>
<body>

<div class="container">
  <h1>Friends Form</h1>
  {{ friendModel | json }}
    <form  #formName="ngForm" id="input-container" novalidate  (ngSubmit)="getListOfFriends()">
<!--First Name-->
      <label>First name</label>
    <div id="input-fn">
      <input
            name="firstName"
            #firstName="ngModel"
            id="firstName"
            type="text"
            placeholder="First name"
            pattern="[a-zA-Z ]+"
            [(ngModel)]="friendModel.firstName"
            required
            [class.correct]="firstName.valid && firstName.touched"
            [class.incorrect]="firstName.invalid && firstName.touched">
    </div>

<!--      Last Name-->
      <label>Last name</label>
    <div id="input-ln">
      <input
            name="lastName"
            #secondName="ngModel"
            id="lastName"
             type="text"
             placeholder="Last name"
            pattern="[a-zA-Z ]+"
            [(ngModel)]="friendModel.secondName"
            required
            [class.correct]="secondName.valid && secondName.touched"
            [class.incorrect]="secondName.invalid && secondName.touched">
    </div>

<!--      Email-->
      <label>Email</label>
    <div id="input-email">
      <input
             name="email"
             #email="ngModel"
             id="email"
             type="email"
             placeholder="Email"
             pattern="^[\w-.0-9]+@([\w-]+.)+[\w-]{2,4}$"
             [(ngModel)]="friendModel.email"
             required
             [class.correct]="email.valid && email.touched"
             [class.incorrect]="email.invalid && email.touched">
    </div>


<!--      Phone number-->
      <label>Phone number</label>
    <div id="input-phone">
      <input
            name="phone"
            #phone="ngModel"
             type="email"
             placeholder="Phone number"
             pattern="[0-9.-+]{10,}"
            [(ngModel)]="friendModel.phone"
            required
            [class.correct]="phone.valid && phone.touched"
            [class.incorrect]="phone.invalid && phone.touched">
    </div>

<!--    Language  -->
      <label>Language</label>

<!--  Looping through an array-->
  <select name="language"
          #language="ngModel" id="lg" [(ngModel)]="friendModel.language" required>
    <option *ngFor="let language of languages">
      {{language}}
    </option >

  </select>
  <button id="btn-submit" type="submit" class="btn btn-primary" [disabled]="formName.form.invalid">Submit</button>
    </form>
</div>



</body>
</html>
